* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

/* ===========start screen reprosition============= */
/* Big */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Meidium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* ===========  End screen reprosition=============== */
/* ==========start nav bar============= */
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000000000;
}
.nav-bar .container {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.nav-bar .container .logo a {
  color: white;
  font-size: 25px;
  border-bottom: 3px;
}
.nav-bar .container .logo a:hover {
  color: black !important;
}
.nav-bar .container .links ul {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  flex-direction: row-reverse;
}
.nav-bar .container .links ul .home a {
  background: black;
  border-radius: 0.5rem;
  width: 72px;
  height: 35px;
  align-items: center;
  display: flex;
  position: relative;
  left: 10px;
  padding: 0 4.5px;
}
.nav-bar .container .links ul .home a:hover {
  background-color: white;
  color: black;
}
.nav-bar .container .links ul li a {
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
}
.nav-bar .container .links ul li a:hover {
  color: black;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .nav-bar .container .links {
    display: none;
  }
}
/* ==========end nav bar============= */
.landing-page {
  height: 100vh;
  background-image: url("../img/thumb-415348697_KFCT2xqP_violin_in_orchestra_1110x741.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.landing-page .background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #0f0e0e 0%, rgba(6, 5, 7, 0.35) 99%, rgba(8, 7, 10, 0.5) 100%);
}
.landing-page .container {
  position: absolute;
  left: 27%;
  top: 40%;
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff9f9;
  text-align: start;
}
.landing-page .container h1 {
  font-size: 62px;
}
.landing-page .container h2 {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 16px;
}
.landing-page .container h2 a {
  color: rgba(0, 0, 255, 0.6117647059);
  background: rgba(255, 255, 255, 0.3098039216);
  border-radius: 7px;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .landing-page .container h1 {
    font-size: 32px;
    width: 300px;
    position: relative;
    right: 82px;
  }
  .landing-page .container h2 {
    font-size: 20px;
    position: absolute;
    top: 103px;
    left: -79px;
    width: 90%;
    text-align: center;
  }
  .landing-page .container h2 a {
    display: block;
  }
}
/*========start quote section==========*/
.Quote {
  border-top: solid 2px white;
  margin-bottom: 3rem;
}
.Quote .container {
  border-bottom: solid 2px white;
}
.Quote .container p {
  padding: 5px;
  font-size: 23px;
  font-family: monospace;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .Quote .container p {
    text-align: start;
    font-size: 20px;
  }
}
/*========end quote section==========*/
/*========start sells section========*/
.sells {
  margin-bottom: 4rem;
}
.sells .container {
  border-bottom: solid 1px white;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.sells .container .sells-title {
  border-bottom: solid 1px white;
  margin-bottom: 3rem;
}
.sells .container .sells-title h1 {
  text-align: center;
  text-transform: capitalize;
}
.sells .container .violin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
}
.sells .container .violin-container .one {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  background-color: white;
  width: 200px;
}
.sells .container .violin-container .one .discription {
  background-color: black;
  height: 44px;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 23px;
  font-size: 13.4px;
  cursor: pointer;
  border: solid 1px white;
}
.sells .container .violin-container .one .discription:hover {
  background-color: white;
}
.sells .container .violin-container .one .discription:hover a {
  color: black;
}
.sells .container .violin-container .one .discription a {
  color: white;
  padding-left: 7px;
  font-size: 20px;
}
.sells .container .violin-container .one .img-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sells .container .violin-container .two {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  background-color: white;
  width: 200px;
}
.sells .container .violin-container .two .discription {
  background-color: black;
  height: 44px;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 23px;
  font-size: 13.4px;
  cursor: pointer;
  border: solid 1px white;
}
.sells .container .violin-container .two .discription:hover {
  background-color: white;
}
.sells .container .violin-container .two .discription:hover a {
  color: black;
}
.sells .container .violin-container .two .discription a {
  color: white;
  padding-left: 7px;
  font-size: 20px;
}
.sells .container .violin-container .two .img-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sells .container .violin-container .three {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  background-color: white;
  width: 200px;
}
.sells .container .violin-container .three .discription {
  background-color: black;
  height: 44px;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 23px;
  font-size: 13.4px;
  cursor: pointer;
  border: solid 1px white;
}
.sells .container .violin-container .three .discription:hover {
  background-color: white;
}
.sells .container .violin-container .three .discription:hover a {
  color: black;
}
.sells .container .violin-container .three .discription a {
  color: white;
  padding-left: 7px;
  font-size: 20px;
}
.sells .container .violin-container .three .img-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .sells .container .violin-container {
    justify-content: center;
  }
  .sells .container .violin-container .one .discription:hover {
    background-color: black;
  }
  .sells .container .violin-container .one .discription:hover a {
    color: white;
  }
  .sells .container .violin-container .two .discription:hover {
    background-color: black;
  }
  .sells .container .violin-container .two .discription:hover a {
    color: white;
  }
  .sells .container .violin-container .three .discription:hover {
    background-color: black;
  }
  .sells .container .violin-container .three .discription:hover a {
    color: white;
  }
}
/*=============== end sells section==============*/
/*=============start courses section=============== */
.coures {
  margin-bottom: 4rem;
}
.coures .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.coures .container .div-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.coures .container .title {
  width: 300px;
  text-align: center;
  margin-bottom: 6rem;
  text-transform: uppercase;
}
.coures .container .title h1 {
  font-size: 60px;
  border: solid 1px white;
  border-radius: 10px;
}
.coures .container .level-one {
  position: relative;
}
.coures .container .level-one .img-container {
  width: 27rem;
  height: 32rem;
}
.coures .container .level-one .img-container img {
  width: 100%;
  height: 100%;
}
.coures .container .level-one .box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.coures .container .level-one .box .title-one {
  border: solid 1px white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}
.coures .container .level-one .box .course-content {
  width: 100%;
}
.coures .container .level-one .box .course-content .title-content {
  text-align: start;
  text-transform: capitalize;
  font-size: x-large;
}
.coures .container .level-one .box .course-content .content {
  font-size: xx-large;
}
.coures .container .level-one .box .course-content .content p {
  padding: 1rem;
}
.coures .container .level-one .box .course-content .registration {
  width: 100%;
  background: white;
  height: 40px;
}
.coures .container .level-one .box .course-content .registration a {
  position: relative;
  top: 7px;
  left: 113px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.coures .container .level-two {
  position: relative;
}
.coures .container .level-two .img-container {
  width: 27rem;
  height: 32rem;
}
.coures .container .level-two .img-container img {
  width: 100%;
  height: 100%;
}
.coures .container .level-two .box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.coures .container .level-two .box .title-one {
  border: solid 1px white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}
.coures .container .level-two .box .course-content {
  width: 100%;
}
.coures .container .level-two .box .course-content .title-content {
  text-align: start;
  text-transform: capitalize;
  font-size: x-large;
}
.coures .container .level-two .box .course-content .content {
  font-size: xx-large;
}
.coures .container .level-two .box .course-content .content p {
  padding: 1rem;
}
.coures .container .level-two .box .course-content .registration {
  width: 100%;
  background: white;
  height: 40px;
}
.coures .container .level-two .box .course-content .registration a {
  position: relative;
  top: 7px;
  left: 113px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.coures .container .level-three {
  position: relative;
}
.coures .container .level-three .img-container {
  width: 27rem;
  height: 32rem;
}
.coures .container .level-three .img-container img {
  width: 100%;
  height: 100%;
}
.coures .container .level-three .box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.coures .container .level-three .box .title-one {
  border: solid 1px white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}
.coures .container .level-three .box .course-content {
  width: 100%;
}
.coures .container .level-three .box .course-content .title-content {
  text-align: start;
  text-transform: capitalize;
  font-size: x-large;
}
.coures .container .level-three .box .course-content .content {
  font-size: xx-large;
}
.coures .container .level-three .box .course-content .content p {
  padding: 1rem;
}
.coures .container .level-three .box .course-content .registration {
  width: 100%;
  background: white;
  height: 40px;
}
.coures .container .level-three .box .course-content .registration a {
  position: relative;
  top: 7px;
  left: 113px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .coures .container .title h1 {
    font-size: 35px;
    width: 200px;
    position: relative;
    left: 44px;
  }
  .coures .container .level-one {
    width: 90%;
  }
  .coures .container .level-one .img-container {
    width: 100%;
  }
  .coures .container .level-one .box .title-one {
    font-size: 14px;
  }
  .coures .container .level-one .box .course-content .title-content h2 {
    font-size: 23px;
  }
  .coures .container .level-one .box .course-content .content p {
    font-size: 18.2px;
    padding: 15px 0px;
  }
  .coures .container .level-one .box .course-content .registration {
    margin-top: 56.3px;
  }
  .coures .container .level-one .box .course-content .registration a {
    position: relative !important;
    left: 73px !important;
  }
  .coures .container .level-two {
    width: 90%;
  }
  .coures .container .level-two .img-container {
    width: 100%;
  }
  .coures .container .level-two .box .title-one {
    font-size: 14px;
  }
  .coures .container .level-two .box .course-content .title-content h2 {
    font-size: 23px;
  }
  .coures .container .level-two .box .course-content .content p {
    font-size: 18.2px;
    padding: 15px 0px;
  }
  .coures .container .level-two .box .course-content .registration {
    margin-top: 56.3px;
  }
  .coures .container .level-two .box .course-content .registration a {
    position: relative !important;
    left: 73px !important;
  }
  .coures .container .level-three {
    width: 90%;
  }
  .coures .container .level-three .img-container {
    width: 100%;
  }
  .coures .container .level-three .box .title-one {
    font-size: 14px;
  }
  .coures .container .level-three .box .course-content .title-content h2 {
    font-size: 23px;
  }
  .coures .container .level-three .box .course-content .content p {
    font-size: 18.2px;
    padding: 15px 0px;
  }
  .coures .container .level-three .box .course-content .registration {
    margin-top: 56.3px;
  }
  .coures .container .level-three .box .course-content .registration a {
    position: relative !important;
    left: 73px !important;
  }
}
/* =============start comment section=============== */
.call-us {
  margin-top: 4rem;
}
.call-us .container {
  border-top: solid 1px white;
  display: grid;
  justify-items: center;
}
.call-us .container h5 {
  margin-top: 4rem;
  text-transform: capitalize;
  font-size: xx-large;
  font-weight: inherit;
}
.call-us .container h1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  background-color: white;
  color: black;
  border-radius: 14px;
  padding: 5px;
  text-transform: capitalize;
  font-size: xx-large;
}
.call-us .container .input-container form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.call-us .container .input-container form .username input {
  width: 318px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-bottom: 2rem;
}
.call-us .container .input-container form .email input {
  width: 318px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-bottom: 2rem;
}
.call-us .container .input-container form .text-area textarea {
  width: 318px;
  border-radius: 10px;
  border: none;
  margin-bottom: 2rem;
}
.call-us .container .input-container button {
  display: block;
  margin-bottom: 4rem;
  position: relative;
  left: 103px;
  border: none;
  background: white;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.call-us .container .input-container button:hover {
  background: black !important;
  color: white;
}

/* Big */
/* Meidium */
/* Small */
@media (max-width: 768px) {
  .call-us .container h5 {
    font-size: 22px;
  }
  .call-us .container h1 {
    font-size: 26px;
  }
  .call-us .container .input-container form .username input {
    width: 100%;
  }
  .call-us .container .input-container form .email input {
    width: 100%;
  }
  .call-us .container .input-container form .text-area textarea {
    width: 100%;
  }
  .call-us .container .input-container form button {
    position: relative;
    left: 54px;
  }
}
/* =============end comment section=============== *//*# sourceMappingURL=style.css.map */